<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd|HH:mm:ss.SSS}|%t|%-5p|%m%n" />
		</layout>
	</appender>
	<!-- 错误日志 -->
	<appender name="zx_error" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="zxlog/platform/error/errors.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="GBK" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd|HH:mm:ss.SSS}|%t|%-5p|%m%n" />
		</layout>
	</appender>
	<!-- 业务逻辑日志 -->
	<appender name="zx_logic" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="zxlog/platform/logic/logic.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="GBK" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd|HH:mm:ss.SSS}|%t|%-5p|%m%n" />
		</layout>
	</appender>
	<category name="com.zx">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="zx_logic" />
	</category>
	<category name="com.common">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="zx_logic" />
	</category>
	<!-- <category name="java.sql">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="zx_error" />
	</category>
	<category name="org.apache.struts2">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="zx_error" />
	</category>
	<category name="org.springframework">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="zx_error" />
	</category> 
	<category name="org.jbpm">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="zx_error" />
	</category>
	<category name="com.ibatis">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="zx_error" />
	</category> -->
	<root>
		<priority value="DEBUG"></priority>
	</root>
</log4j:configuration>
